* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 20px;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 50px;
  background: url("../images/ipe_amarelo.jpg") no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: row;
}


tbody {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

tr {
  display: flex;
  flex-direction: column;
  gap: 10px;
}